/*------------
     fonts
 -----------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* ---------------------------------
    common styles or utilities 
--------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  height: 677px;
  background-color: #2d25a0;
  justify-content: space-around;
  max-width: 100%;
}
.banner-text {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 100px auto;
  max-width: 485px;
}
.full-text h2 {
  color: #ffffff;
  font-size: 4em;
}
.banner-link a {
  text-decoration: none;
  background-color: #e02c6d;
  color: #ffffff;
  padding: 10px 25px;
}
.banner-img img {
  height: 438px;
  margin: 100px 0;
  margin-left: 100px;
}
.players-doc {
  display: flex;
  justify-content: center;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.blog {
  margin: 70px 15px 27px 15px;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  /* border: 1px solid gray; */
}
.blog img {
  height: 300px;
}
.highlight-sec {
  display: flex;
  height: 677px;
  justify-content: space-around;
  max-width: 100%;
}
.highlight-text {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 100px auto;
  max-width: 485px;
}
.highlight-text h2 {
  font-size: 4em;
}
.highlight-button a {
  text-decoration: none;
  background-color: #e02c6d;
  color: #ffffff;
  padding: 10px 25px;
}
.highlight-pic img {
  height: 438px;
  margin-top: 100px;
}
