/*------------
     fonts
 -----------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ---------------------------------
    common styles or utilities 
--------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  height: 677px;
  background-color: #2d25a0;
  justify-content: space-around;
  max-width: 100%;
}
.banner-text {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 100px auto;
  max-width: 485px;
}
.full-text h2 {
  color: #ffffff;
  font-size: 4em;
  animation: highlight 5s ease-in-out infinite;
}
.banner-link {
  transition: all 0.3s ease-in-out;
}
.banner-link:hover {
  transform: scale(1.2);
}
.banner-link a {
  text-decoration: none;
  background-color: #e02c6d;
  color: #ffffff;
  padding: 10px 25px;
}
.banner-img img {
  height: 438px;
  margin: 100px 0;
  /* margin-left: 80px; */
  margin-right: 100px;
  transition: all 0.3s ease-in-out;
}
.banner-img img:hover {
  transform: scale(1.2);
}
.players-doc {
  display: flex;
  justify-content: center;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.blog {
  margin: 70px 15px 27px 15px;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.blog img {
  height: 300px;
}
.blog p {
  max-width: 300px;
  color: #6c6c6c;
}
.highlight-sec {
  display: flex;
  height: 677px;
  justify-content: space-around;
  max-width: 100%;
}
.highlight-text {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 100px auto;
  max-width: 485px;
}
.highlight-text h2 {
  font-size: 4em;
  animation: highlight 5s ease-in-out infinite;
}
.highlight-button {
  transition: all 0.3s ease-in-out;
}
.highlight-button:hover {
  transform: scale(1.2);
}
.highlight-button a {
  text-decoration: none;
  background-color: #e02c6d;
  color: #ffffff;
  padding: 10px 25px;
}
.highlight-pic img {
  height: 438px;
  margin-top: 100px;
  margin-right: 150px;
}
/*----------------- 
    footer
-------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer img {
  height: 110px;
  margin-top: 30px;
}
.copyright {
  text-align: center;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}
.icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.fa-instagram,
.fa-dribbble,
.fa-twitter,
.fa-youtube {
  background-color: #e7e7e8;
  color: #969bab;
  padding: 7px;
  margin: 7px;
  border-radius: 50px;
}
@keyframes highlight {
  0% {
    color: red;
  }
  25% {
    color: royalblue;
  }
  50% {
    color: skyblue;
  }
  75% {
    color: rgb(228, 215, 236);
  }
  100% {
    color: rgb(71, 158, 158);
  }
}

/*------------------------ 
    Media Queries 
------------------------*/

/*-------------------------
    Mobile Devices
---------------------- */
